html {
    font-family: Monaco, monospace;
    background: PowderBlue;
    padding: 1rem;
}

h1 {
    color: rgb(240, 156, 30);
    font-family: Papyrus, fantasy;
    font-size: 30px;
    margin: 1rem 0;
}